## About the datasets

To complete this project I utilized three datasets that are available on the city of Chicago's Data Portal:

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

In [1]:
import csv, sqlite3
con = sqlite3.connect("FinalDB.db")
cur = con.cursor()

#SQL magic module

In [2]:
%load_ext sql

Loading the dataframes.

In [4]:
import pandas
df = pandas.read_csv('ChicagoCensusData.csv')
df.to_sql("chicagocensusdata", con, if_exists='replace', index=False,method="multi")

import pandas
df = pandas.read_csv('ChicagoCrimeData.csv')
df.to_sql("chicagocrimedata", con, if_exists='replace', index=False,method="multi")

import pandas
df = pandas.read_csv('ChicagoPublicSchools.csv')
df.to_sql("chicagopublicschools", con, if_exists='replace', chunksize=100,  index=False,method="multi")

566

Establishing a connection between SQL magic module and the database `FinalDB.db`

In [5]:
%sql sqlite:///FinalDB.db

Connecting to 'sqlite:///FinalDB.db'

## Problems

Writing and execute SQL queries to solve assignment problems

### Problem 1

##### The total number of crimes recorded in the CRIME table.

In [6]:
%sql select count(CASE_NUMBER) from chicagocrimedata;

Running query in 'sqlite:///FinalDB.db'

+--------------------+
| count(CASE_NUMBER) |
+--------------------+
|        533         |
+--------------------+

### Problem 2

##### Community area names and numbers with per capita income less than 11000.

In [7]:
%sql select COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER, PER_CAPITA_INCOME \
from chicagocensusdata group by COMMUNITY_AREA_NAME \
having PER_CAPITA_INCOME < 11000

Running query in 'sqlite:///FinalDB.db'

+---------------------+-----------------------+-------------------+
| COMMUNITY_AREA_NAME | COMMUNITY_AREA_NUMBER | PER_CAPITA_INCOME |
+---------------------+-----------------------+-------------------+
|     Fuller Park     |          37.0         |       10432       |
|      Riverdale      |          54.0         |        8201       |
|    South Lawndale   |          30.0         |       10402       |
|  West Garfield Park |          26.0         |       10934       |
+---------------------+-----------------------+-------------------+

In [8]:
%sql select COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER, PER_CAPITA_INCOME \
from chicagocensusdata where PER_CAPITA_INCOME < 11000

Running query in 'sqlite:///FinalDB.db'

+---------------------+-----------------------+-------------------+
| COMMUNITY_AREA_NAME | COMMUNITY_AREA_NUMBER | PER_CAPITA_INCOME |
+---------------------+-----------------------+-------------------+
|  West Garfield Park |          26.0         |       10934       |
|    South Lawndale   |          30.0         |       10402       |
|     Fuller Park     |          37.0         |       10432       |
|      Riverdale      |          54.0         |        8201       |
+---------------------+-----------------------+-------------------+

### Problem 3

##### Listing all case numbers for crimes involving minors (children are not considered minors for the purposes of crime analysis)

In [9]:
%sql select CASE_NUMBER, DATE \
from chicagocrimedata where description like '%minor%'

Running query in 'sqlite:///FinalDB.db'

+-------------+------------+
| CASE_NUMBER |    DATE    |
+-------------+------------+
|   HL266884  | 2005-03-31 |
|   HK238408  | 2004-03-13 |
+-------------+------------+

### Problem 4

##### Listing all kidnapping crimes involving a child.

In [10]:
%sql select CASE_NUMBER, PRIMARY_TYPE, description \
from chicagocrimedata  \
where description like '%child%' and PRIMARY_TYPE like '%KIDNAPPING%'

Running query in 'sqlite:///FinalDB.db'

+-------------+--------------+--------------------------+
| CASE_NUMBER | PRIMARY_TYPE |       DESCRIPTION        |
+-------------+--------------+--------------------------+
|   HN144152  |  KIDNAPPING  | CHILD ABDUCTION/STRANGER |
+-------------+--------------+--------------------------+

In [11]:
%sql select PRIMARY_TYPE, count(PRIMARY_TYPE) from chicagocrimedata group by PRIMARY_TYPE

Running query in 'sqlite:///FinalDB.db'

+-----------------------------------+---------------------+
|            PRIMARY_TYPE           | count(PRIMARY_TYPE) |
+-----------------------------------+---------------------+
|               ARSON               |          2          |
|              ASSAULT              |          32         |
|              BATTERY              |          92         |
|              BURGLARY             |          30         |
| CONCEALED CARRY LICENSE VIOLATION |          1          |
|        CRIM SEXUAL ASSAULT        |          3          |
|          CRIMINAL DAMAGE          |          58         |
|         CRIMINAL TRESPASS         |          15         |
|         DECEPTIVE PRACTICE        |          20         |
|         DOMESTIC VIOLENCE         |          1          |
+-----------------------------------+---------------------+
Truncated to displaylimit of 10.

In [12]:
%sql select * from chicagocrimedata where PRIMARY_TYPE= 'kidnapping'

Running query in 'sqlite:///FinalDB.db'

+----+-------------+------+-------+------+--------------+-------------+----------------------+--------+----------+------+----------+------+-----------------------+---------+--------------+--------------+------+----------+-----------+----------+
| ID | CASE_NUMBER | DATE | BLOCK | IUCR | PRIMARY_TYPE | DESCRIPTION | LOCATION_DESCRIPTION | ARREST | DOMESTIC | BEAT | DISTRICT | WARD | COMMUNITY_AREA_NUMBER | FBICODE | X_COORDINATE | Y_COORDINATE | YEAR | LATITUDE | LONGITUDE | LOCATION |
+----+-------------+------+-------+------+--------------+-------------+----------------------+--------+----------+------+----------+------+-----------------------+---------+--------------+--------------+------+----------+-----------+----------+
+----+-------------+------+-------+------+--------------+-------------+----------------------+--------+----------+------+----------+------+-----------------------+---------+--------------+--------------+------+----------+-----------+----------+

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [13]:
%sql select DESCRIPTION, LOCATION_DESCRIPTION \
from chicagocrimedata \
where  LOCATION_DESCRIPTION like '%school%'\
group by DESCRIPTION

Running query in 'sqlite:///FinalDB.db'

+--------------------------------+---------------------------+
|          DESCRIPTION           |    LOCATION_DESCRIPTION   |
+--------------------------------+---------------------------+
|          BOMB THREAT           | SCHOOL, PRIVATE, BUILDING |
| MANU/DEL:CANNABIS 10GM OR LESS |  SCHOOL, PUBLIC, BUILDING |
|      POSS: HEROIN(WHITE)       |  SCHOOL, PUBLIC, GROUNDS  |
|  PRO EMP HANDS NO/MIN INJURY   |  SCHOOL, PUBLIC, BUILDING |
|             SIMPLE             |  SCHOOL, PUBLIC, GROUNDS  |
|            TO LAND             |  SCHOOL, PUBLIC, GROUNDS  |
|           TO VEHICLE           |  SCHOOL, PUBLIC, GROUNDS  |
+--------------------------------+---------------------------+

### Problem 6

##### Listing the type of schools along with the average safety score for each type.

In [15]:
%sql select "Elementary, Middle, or High School" , AVG(SAFETY_SCORE), count (*) \
from chicagopublicschools \
group by "Elementary, Middle, or High School";

Running query in 'sqlite:///FinalDB.db'

+------------------------------------+-------------------+-----------+
| Elementary, Middle, or High School | AVG(SAFETY_SCORE) | count (*) |
+------------------------------------+-------------------+-----------+
|                 ES                 | 49.52038369304557 |    462    |
|                 HS                 | 49.62352941176471 |     93    |
|                 MS                 |        48.0       |     11    |
+------------------------------------+-------------------+-----------+

### Problem 7

##### Listing 5 community areas with highest % of households below poverty line

In [16]:
%sql select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY from chicagocensusdata \
limit 5 ;

Running query in 'sqlite:///FinalDB.db'

+---------------------+----------------------------------+
| COMMUNITY_AREA_NAME | PERCENT_HOUSEHOLDS_BELOW_POVERTY |
+---------------------+----------------------------------+
|     Rogers Park     |               23.6               |
|      West Ridge     |               17.2               |
|        Uptown       |               24.0               |
|    Lincoln Square   |               10.9               |
|     North Center    |               7.5                |
+---------------------+----------------------------------+

In [17]:
%sql select COMMUNITY_AREA_NAME from chicagocensusdata order by PERCENT_HOUSEHOLDS_BELOW_POVERTY   desc limit 5

Running query in 'sqlite:///FinalDB.db'

+---------------------+
| COMMUNITY_AREA_NAME |
+---------------------+
|      Riverdale      |
|     Fuller Park     |
|      Englewood      |
|    North Lawndale   |
|  East Garfield Park |
+---------------------+

### Problem 8

##### Which community area is most crime prone? (Community area number only).

In [18]:
# COMMUNITY_AREA_NUMBER chicagocensusdata \ chicagocrimedata
%sql select COMMUNITY_AREA_NUMBER from (select COMMUNITY_AREA_NUMBER, count(*) as "count_crime" from chicagocrimedata \
WHERE COMMUNITY_AREA_NUMBER != "None" \
group by COMMUNITY_AREA_NUMBER \
order by count_crime desc limit 1);

Running query in 'sqlite:///FinalDB.db'

+-----------------------+
| COMMUNITY_AREA_NUMBER |
+-----------------------+
|          25.0         |
+-----------------------+

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [19]:
#HARDSHIP_INDEX
%sql select HARDSHIP_INDEX from (select HARDSHIP_INDEX from chicagocensusdata order by HARDSHIP_INDEX desc limit 1 ) as "top_HARDSHIP" ;

Running query in 'sqlite:///FinalDB.db'

+----------------+
| HARDSHIP_INDEX |
+----------------+
|      98.0      |
+----------------+

In [20]:
%sql select COMMUNITY_AREA_NAME from chicagocensusdata where HARDSHIP_INDEX in (SELECT MAX(HARDSHIP_INDEX) from chicagocensusdata)

Running query in 'sqlite:///FinalDB.db'

+---------------------+
| COMMUNITY_AREA_NAME |
+---------------------+
|      Riverdale      |
+---------------------+

### Problem 10

##### Using a sub-query to determine the Community Area Name with most number of crimes?

In [21]:
%%sql select COMMUNITY_AREA_NAME from chicagocensusdata cd 
where cd.COMMUNITY_AREA_NUMBER = (select COMMUNITY_AREA_NUMBER from 
(select COMMUNITY_AREA_NUMBER, count(*) as "count_crime" from chicagocrimedata 
WHERE COMMUNITY_AREA_NUMBER != "None" 
group by COMMUNITY_AREA_NUMBER 
order by count_crime desc limit 1))

Running query in 'sqlite:///FinalDB.db'

+---------------------+
| COMMUNITY_AREA_NAME |
+---------------------+
|        Austin       |
+---------------------+

In [22]:
%sql select community_area_number, community_area_name from chicagocensusdata \
where community_area_number in (SELECT COMMUNITY_AREA_NUMBER FROM \
(select COMMUNITY_AREA_NUMBER, count(*) as "count_crime" from chicagocrimedata GROUP by community_area_number ORDER BY COUNT_CRIME desc limit 1 ))

Running query in 'sqlite:///FinalDB.db'

+-----------------------+---------------------+
| COMMUNITY_AREA_NUMBER | COMMUNITY_AREA_NAME |
+-----------------------+---------------------+
|          25.0         |        Austin       |
+-----------------------+---------------------+